@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}
.main {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#input-box {
  height: 30px;
  width: 500px;
  border-radius: 4px;
  outline: none;
  margin: 8px 0;
  border: 1px solid #ccc;
}
#input-box:focus {
  background-color: #f0f0f0;
}
.submit {
  padding: 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  background-color: #f0f0f0;
}
.submit:hover {
  font-size: 16px;
}
#sect-title {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
}
.user-info {
  margin-top: 0px;
}
.user-info > aside {
  height: 78px;
  width: 500px;
  margin: 10px;
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 10px;
}
.user-info > aside > p {
  font-size: 18px;
  font-weight: 500;
}
.user-info > aside > div {
  display: flex;
  justify-content: flex-end;
}
.user-info > aside > div > button {
  padding: 6px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 14px;
}
.user-info > aside > div > button:hover {
  font-size: 16px;
}
